<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Always set GUI to false for AWS RoboMaker Simulation
       Use gui:=true on roslaunch command-line to run with a gui.
  -->
  <arg name="gui" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find aws_robomaker_bookstore_world)/worlds/my_bookstore.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" default="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="false"/>
  </include>

  
  <include file="$(find p3dx_gazebo)/launch/p3dx.launch"> 
	<arg name="ns" value="p3dx_1" />
	<arg name="x" value="0"/>
	<arg name="y" value="0"/>

  </include>
  
  
  
  <arg name="map_file" default="$(find aws_robomaker_bookstore_world)/maps/my_bookstoremap.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


  <!-- Publishes the voxel grid to rviz for display -->
  <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
  <remap from="voxel_grid" to="costmap/voxel_grid"/>
  </node>

 <!-- Run the costmap node -->
 
  <node name="costmap" pkg="costmap_2d" type="costmap_2d_node" >
   <rosparam file="$(find aws_robomaker_bookstore_world)/param/costmap2d.yaml" command="load" ns="costmap" />
  </node>
 
         
         
   
</launch>
